In [1]:
import pandas as pd
import numpy as np
from datetime import datetime

In [2]:
df = pd.read_csv('resources/Restaurant_Scores_-_LIVES_Standard.csv')

In [3]:
df.head()

,business_id,business_name,business_address,business_city,business_state,business_postal_code,business_latitude,business_longitude,business_location,business_phone_number,...,inspection_score,inspection_type,violation_id,violation_description,risk_category,Neighborhoods,SF Find Neighborhoods,Current Police Districts,Current Supervisor Districts,Analysis Neighborhoods
0,85936,Laurel Court,950 Mason St,San Francisco,CA,94108,NaN,NaN,NaN,1.415578e+10,...,100.0,Routine - Unscheduled,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,5827,HILLCREST ELEMENTARY SCHOOL,810 SILVER Ave,San Francisco,CA,94134,37.729016,-122.419253,POINT (-122.419253 37.729016),1.415546e+10,...,NaN,Reinspection/Followup,NaN,NaN,NaN,92.0,92.0,2.0,2.0,7.0
2,94910,Ike's Kitchen,800 Van Ness Ave,San Francisco,CA,94109,NaN,NaN,NaN,NaN,...,NaN,New Ownership - Followup,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,64667,Jasmine Rae Bakery,1890 Bryant St #309,San Francisco,CA,94110,37.763156,-122.410351,POINT (-122.410351 37.763156),NaN,...,NaN,Reinspection/Followup,NaN,NaN,NaN,53.0,53.0,3.0,2.0,20.0
4,97722,THE CHURRO FACTORY,PIER 39 K-01,San Francisco,CA,94133,NaN,NaN,NaN,NaN,...,96.0,Routine - Unscheduled,97722_20181217_103154,Unclean or degraded floors walls or ceilings,Low Risk,NaN,NaN,NaN,NaN,NaN

In [4]:
df = df.dropna(subset=['inspection_score'])

In [5]:
df['inspection_date'] = pd.to_datetime(df['inspection_date'])

# Convert the 'inspection_date' column to the desired format
df['inspection_date'] = df['inspection_date'].dt.strftime('%Y-%m-%d')

In [6]:
df['inspection_score'] = df['inspection_score'].astype(int)

In [7]:
df.dtypes

business_id                       int64
business_name                    object
business_address                 object
business_city                    object
business_state                   object
business_postal_code             object
business_latitude               float64
business_longitude              float64
business_location                object
business_phone_number           float64
inspection_id                    object
inspection_date                  object
inspection_score                  int64
inspection_type                  object
violation_id                     object
violation_description            object
risk_category                    object
Neighborhoods                   float64
SF Find Neighborhoods           float64
Current Police Districts        float64
Current Supervisor Districts    float64
Analysis Neighborhoods          float64
dtype: object

In [8]:
useful_df = df[['business_id', 'business_name', 'business_address', 'business_city',
                'business_latitude', 'business_longitude', 'business_location',
                'inspection_id', 'inspection_date',
                'inspection_score', 'violation_id', 'violation_description',
                'risk_category']]

In [9]:
useful_df.head()

,business_id,business_name,business_address,business_city,business_latitude,business_longitude,business_location,inspection_id,inspection_date,inspection_score,violation_id,violation_description,risk_category
0,85936,Laurel Court,950 Mason St,San Francisco,NaN,NaN,NaN,85936_20170925,2017-09-25,100,NaN,NaN,NaN
4,97722,THE CHURRO FACTORY,PIER 39 K-01,San Francisco,NaN,NaN,NaN,97722_20181217,2018-12-17,96,97722_20181217_103154,Unclean or degraded floors walls or ceilings,Low Risk
12,95023,Sakesan,1400 Ocean Ave,San Francisco,NaN,NaN,NaN,95023_20180510,2018-05-10,92,95023_20180510_103149,Wiping cloths not clean or properly stored or ...,Low Risk
15,94977,94977 Portables 2 Carvery/BBQ,24 Willie Mays Pl Promenade Lvl Sect 112,San Francisco,NaN,NaN,NaN,94977_20180911,2018-09-11,96,94977_20180911_103119,Inadequate and inaccessible handwashing facili...,Moderate Risk
19,94943,94943 Hearth Table,24 Willie Mays Pl Lower Cent Fd Rm 1144,San Francisco,NaN,NaN,NaN,94943_20190412,2019-04-12,100,NaN,NaN,NaN

In [10]:
business_info_df = df[['business_id', 'business_name', 'business_address', 'business_city',
                  'business_latitude', 'business_longitude', 'business_location']]

In [11]:
business_info_df.head()

,business_id,business_name,business_address,business_city,business_latitude,business_longitude,business_location
0,85936,Laurel Court,950 Mason St,San Francisco,NaN,NaN,NaN
4,97722,THE CHURRO FACTORY,PIER 39 K-01,San Francisco,NaN,NaN,NaN
12,95023,Sakesan,1400 Ocean Ave,San Francisco,NaN,NaN,NaN
15,94977,94977 Portables 2 Carvery/BBQ,24 Willie Mays Pl Promenade Lvl Sect 112,San Francisco,NaN,NaN,NaN
19,94943,94943 Hearth Table,24 Willie Mays Pl Lower Cent Fd Rm 1144,San Francisco,NaN,NaN,NaN

In [12]:
inspection_info_df = df[['business_id', 'inspection_id', 'inspection_date',
                         'inspection_score', 'violation_id', 'violation_description',
                         'risk_category']]

In [13]:
inspection_info_df.head()

,business_id,inspection_id,inspection_date,inspection_score,violation_id,violation_description,risk_category
0,85936,85936_20170925,2017-09-25,100,NaN,NaN,NaN
4,97722,97722_20181217,2018-12-17,96,97722_20181217_103154,Unclean or degraded floors walls or ceilings,Low Risk
12,95023,95023_20180510,2018-05-10,92,95023_20180510_103149,Wiping cloths not clean or properly stored or ...,Low Risk
15,94977,94977_20180911,2018-09-11,96,94977_20180911_103119,Inadequate and inaccessible handwashing facili...,Moderate Risk
19,94943,94943_20190412,2019-04-12,100,NaN,NaN,NaN

In [14]:
for_maps_df = df[[ 'business_name', 'business_address', 
                  'business_latitude', 'business_longitude', 'business_location',
                  'inspection_date', 'inspection_score', 'violation_id', 
                  'violation_description','risk_category']]

In [15]:
for_maps_df.head()

,business_name,business_address,business_latitude,business_longitude,business_location,inspection_date,inspection_score,violation_id,violation_description,risk_category
0,Laurel Court,950 Mason St,NaN,NaN,NaN,2017-09-25,100,NaN,NaN,NaN
4,THE CHURRO FACTORY,PIER 39 K-01,NaN,NaN,NaN,2018-12-17,96,97722_20181217_103154,Unclean or degraded floors walls or ceilings,Low Risk
12,Sakesan,1400 Ocean Ave,NaN,NaN,NaN,2018-05-10,92,95023_20180510_103149,Wiping cloths not clean or properly stored or ...,Low Risk
15,94977 Portables 2 Carvery/BBQ,24 Willie Mays Pl Promenade Lvl Sect 112,NaN,NaN,NaN,2018-09-11,96,94977_20180911_103119,Inadequate and inaccessible handwashing facili...,Moderate Risk
19,94943 Hearth Table,24 Willie Mays Pl Lower Cent Fd Rm 1144,NaN,NaN,NaN,2019-04-12,100,NaN,NaN,NaN

In [16]:
for_maps_df = for_maps_df.dropna(subset=['business_location'])

In [17]:
for_maps_df.head()

,business_name,business_address,business_latitude,business_longitude,business_location,inspection_date,inspection_score,violation_id,violation_description,risk_category
27,RN74,301 Mission St,37.790958,-122.396042,POINT (-122.396042 37.790958),2017-11-08,90,NaN,NaN,NaN
47,Marshall Elementary School,1575 15th St,37.766864,-122.419014,POINT (-122.419014 37.766864),2018-10-16,100,NaN,NaN,NaN
53,Vino Rosso,629 Cortland Ave,37.739041,-122.415636,POINT (-122.415636 37.739041),2018-03-14,100,NaN,NaN,NaN
86,LAWTON ELEMENTARY SCHOOL,1570 31st Ave,37.758013,-122.489596,POINT (-122.489596 37.758013),2017-02-23,100,NaN,NaN,NaN
110,SAFEWAY #1490,2300 16th St,37.765708,-122.409002,POINT (-122.409002 37.765708),2017-12-06,82,3649_20171206_103131,Moderate risk vermin infestation,Moderate Risk

In [18]:
useful_df.to_csv('resources/useful.csv', index=False)

In [19]:
business_info_df.to_csv('resources/business_info.csv', index=False)

In [20]:
inspection_info_df.to_csv('resources/inspection_info.csv', index=False)

In [21]:
for_maps_df.to_csv('resources/for_maps.csv', index=False)